body {
    background-color: #242834;
    margin: 10px;
}

a {
    color: rgb(0, 136, 255);
}

.center {
    align-items: center;
    text-align: center;
}

/* Headers */
#mainheader {
    margin-left: 5%;
    margin-bottom: 4px;
    color: whitesmoke;
    font-family: verdana;
    font-size: 350%;
    animation: swim-in 1.2s;
}

#subheader {
    margin-left: 8%;
    margin-bottom: 0px;
    color: lightgray;
    opacity: 0%;
    font-family: verdana;
    font-size: 110%;
    animation: swim-in 1.4s 0.8s forwards; 
    will-change: opacity;
}

@keyframes swim-in {
    0% {
        transform: translateX(-150%);
        opacity: 100%;
    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

/* General button */
.button {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    text-decoration: none;
    font-family: verdana;
    font-variant-caps: titling-caps;
    font-weight: bold;
    font-size: 150%;
    background-color: #FFB600;
    color: whitesmoke;
}

.button:visited {
    color: whitesmoke;
}

.button:hover {
    animation: button-hover 0.5s forwards;
}

.button-container {
    margin-top: 15%;
}

.right-side {
    position: fixed;
    left: 51%;
    right: 0%;
    top: 10%;
    margin: 20px;
}

@keyframes button-hover {
    0% { background-color: #FFB600; }
    100% { background-color: #cc8300; }
}

/* Style the paragraph tags */

.text-container {
    margin: 20px;
    margin-top: 100px;
    width: 45%;
}

p {
    opacity: 100%;
    color: whitesmoke;
    font-family: verdana;
    /*animation: fade-in 1s 2s forwards;*/
    
}

@keyframes fade-in {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

/* Vertical line */

.vertical-line {
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -3px;
    height: 450px;
    width: 0px;
    border: 1px solid #FFB600;
    border-radius: 20px;
}

/* Footer */

.footer {
    position: fixed;  
    left: 10px;  
    bottom: 10px;  
    right: 10px;   
    width: 95%;  
    color: lightgray;
    text-align: center;
    font-family: verdana;
    font-size: 10px;
    
}



/* Breakpoints */

#error-size {
    display: inline-block;
}

/* Mobile portrait */
@media screen and (max-width: 540px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
    #error-size {
        display: none
    }
    #mainheader {
        font-size: 200%;
    }
    .text-container {
        text-align: justify;
        margin-top: 40px;
        width: 90%;
    }
}

/* Tablet */
@media screen and (max-width: 820px) and (min-width: 541px) {
    .desktop {
        display: inline-block;
    }
    .desktop-only {
        display: none;
    }
    .tablet {
        display: inline-block;
    }
    .mobile {
        display: none;
    }
    #error-size {
        display: none
    }
    #mainheader {
        margin-left: 3%;
        font-size: 250%;
    }
    #subheader {
        margin-left: 6%;
        font-size: 110%;
    }
    .text-container {
        text-align: justify;
        width: 42%;
    }
}

/* Desktop */
@media screen and (min-width: 821px) {
    .desktop {
        display: inline-block;
    }
    .tablet {
        display: inine-block;
    }
    .tablet-only {
        display: none;
    }
    .mobile {
        display: none;
    }
    #error-size {
        display: none
    }
}